.container {
    background-color: #f0f0f0;
}

.header{
    height: 80px;
    background-color: cadetblue;
}

.footer{
    height: 80px;
    background-color: gray;
}

.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
}


.box {
    width: 150px;
    height: 100px;
    margin: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: royalblue;
}

.green {
    background-color: seagreen;
}
